# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
demonstrators-line/demonstrator-v0/.flattened-pom.xml
prototypes-line/v0-stack-integration/proto-infrastructures/proto-domains-interactions-broker/adapter/dis-impl/target/maven-archiver/pom.properties
prototypes-line/v0-stack-integration/proto-infrastructures/proto-domains-interactions-broker/adapter/dis-api/target/maven-archiver/pom.properties
prototypes-line/v0-stack-integration/proto-asset-control/features/aap-impl/target/maven-archiver/pom.properties
prototypes-line/v0-stack-integration/proto-asset-control/features/aap-api/target/maven-archiver/pom.properties
prototypes-line/v0-stack-integration/proto-asset-control/application/ac-ui/target/maven-archiver/pom.properties
prototypes-line/v0-stack-integration/proto-asset-control/application/ac-translator/target/maven-archiver/pom.properties
prototypes-line/v0-stack-integration/proto-asset-control/application/ac-service/target/maven-archiver/pom.properties
prototypes-line/v0-stack-integration/proto-asset-control/application/ac-domain-model/target/maven-archiver/pom.properties
prototypes-line/v0-stack-integration/proto-asset-control/application/ac-adapter/target/maven-archiver/pom.properties
**/.idea
prototypes-line/v0-stack-integration/proto-asset-control/proto-frontend-ui-server/frontend/package-lock.json
/demonstrators-line/demonstrator-v0/target
/target
/prototypes-line/v0-stack-integration/proto-asset-control/application/ac-adapter/target
/prototypes-line/v0-stack-integration/proto-asset-control/application/ac-domain-model/target
/prototypes-line/v0-stack-integration/proto-asset-control/application/ac-service/target
/prototypes-line/v0-stack-integration/proto-asset-control/application/ac-translator/target
/prototypes-line/v0-stack-integration/proto-asset-control/application/ac-ui/target
/prototypes-line/v0-stack-integration/proto-asset-control/application/target
/prototypes-line/v0-stack-integration/proto-asset-control/features/aap-api/target
/prototypes-line/v0-stack-integration/proto-asset-control/features/aap-impl/target
/prototypes-line/v0-stack-integration/proto-asset-control/features/target
/prototypes-line/v0-stack-integration/proto-asset-control/target
/prototypes-line/v0-stack-integration/proto-infrastructures/proto-domains-interactions-broker/adapter/dis-api/target
/prototypes-line/v0-stack-integration/proto-infrastructures/proto-domains-interactions-broker/adapter/dis-impl/target
/prototypes-line/v0-stack-integration/proto-infrastructures/proto-domains-interactions-broker/adapter/target
/prototypes-line/v0-stack-integration/proto-infrastructures/proto-users-interactions-broker/adapter/target
/prototypes-line/v0-stack-integration/proto-infrastructures/target
/prototypes-line/v0-stack-integration/proto-specifications/infrastructures/common/target
/prototypes-line/v0-stack-integration/proto-specifications/infrastructures/target
/prototypes-line/v0-stack-integration/proto-specifications/target
/prototypes-line/v0-stack-integration/target
/prototypes-line/target
